<header class="header">
    <nav class="navbar">
      <div class="navbar-brand">
        <img src="https://thumbs.dreamstime.com/b/bcb-letter-logo-design-black-background-creative-initials-concept-254600890.jpg" alt="Beaver Creek Bank Logo">
        <span class="bank-name">BEAVER CREEK BANK</span>
      </div>
      <div class="navbar-menu">
        <a class="navbar-item" (click)="onHomeClick()">Home </a>
        <a routerLink="/service" routerLinkActive="active" class="navbar-item">Service</a>
        <a routerLink="/about" routerLinkActive="active" class="navbar-item">About Us</a>
      </div>
    </nav>
    <div class="header-features">
      Easy Loan Tracking | Automated Repayment Schedules | Secure Document Management
    </div>
  </header>
  